.navbtn {
    width: 200px;
    height: 150px;
}


@media only screen and (max-width: 480px){
    /* we will set these stylings only if the device is a screen with a width of 480px or less */
    .navbtn {
        background-color: yellow;
    }
}

@media only screen and (min-width: 1024px){
    /* we will set these stylings only if the device is a screen with a width of 480px or less */
    .navbtn {
        background-color: red;
}

@media only screen and (min-width: 481px){
    /* we will set these stylings only if the device is a screen with a width of 480px or less */
    .navbtn {
        background-color: blue;
    }
}


