{% extends "bookreview/base.html" %}
{% load static %}

{% block title %}Book Review{% endblock %}

{% block content %}
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Book Form Page</h1>
                <hr class="my-4">
                <p class="lead">Below you can add a book and review!</p>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="container">
            <div class="col-md-6">
                {% if messages %}
                <div class="alert alert-info" role="messages">
                    {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Add a new book title and review:</h4><br>
                    <form action="/books/addbook" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <h6><label for="exampleInputPassword1">Title:</label></h6>
                        <input type="text" class="form-control" name="title" id="title" placeholder="title of the book">
                    </div>
                    <div class="form-group">
                        <h6><label for="exampleInputPassword1">Author:</label></h6>
                        <select name="author" id="author" value="book.author" class="custom-select custom-select-sm mb-3">
                            <option selected>Choose an author from the menu:</option>
                            <option value=""></option>
                            {% for book in books %}
                            <option value="{{book.author}}">{{book.author}}</option>
                            {% endfor %}
                        </select><br>
                        <small>(or add a new author)</small>
                        <input type="text" class="form-control" name="new_author" id="author" placeholder="author of the book">
                    </div>
                    <div class="form-group">
                        <h6><label for="exampleInputPassword1">Review:</label></h6>
                    <textarea name="review" class="form-control" id="review" placeholder="write your review here…"></textarea>
                    </div>
                    <div class="form-group">
                        <h6><label for="exampleInputPassword1">Rating:</label></h6>
                        <select name="rating" id="rating" class="custom-select custom-select-sm mb-3">
                            <option></option>
                            <option value="1">1 Star</option>
                            <option value="2">2 Star</option>
                            <option value="3">3 Star</option>
                            <option value="4">4 Star</option>
                            <option value="5">5 Star</option>
                        </select>
                    </div><br>
                        <button type="submit" class="btn btn-info">Submit Book & Review</button>
                    </form>
            </div>
            <div class="col-md-2">
                <h3></h3>
                <p></p>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}