{% extends "bookreview/base.html" %}

{% load static %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-2">{{book.title}}</h1>
                <p class="lead">by {{ book.author }}</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Recent Book Reviews:</h5>
                <hr class="my-6">
                <div class="container">
                {% for review in reviews %}
                    <p>Rating: {{ review.rating }}</p>
                    <p>{{ review.reviewer.alias }} Says: <i>{{ review.review }}</i></p>
                    <small>Posted on {{ review.created_at }}</small><br>
                    <hr class="my-6">
                {% endfor %}
                
                </div>
            </div>
            <div class="col-md-2">
                <h3></h3>
                <p></p>
            </div>
            <div class="col-md-4">
                <h6>Add a review:</h6>
                <form action="/book/{{ book.id }}/minireview" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea name="review" name="review" class="form-control" id="exampleInputPassword1" placeholder="write your review here…"></textarea>
                    </div><br>
                    <div class="form-group">
                        <h5><label for="exampleInputPassword1">Rating:</label></h5>
                        <select name="rating">
                            <option value="1"></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        Stars.
                    </div><br>
                    <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}