{% extends "bookreview/base.html" %}
{% load static %}

{% block title %}Book Review{% endblock %}

{% block content %}
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">{{book.title}}</h1>
                <hr class="my-4">
                <h6>by {{book.author}}</h6>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="container">
            <div class="col-md-6">
                {% if messages %}
                <div class="alert alert-info" role="messages">
                    {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>Reviews:</h2>
                
                {% for review in user.reviews.all %}
                <p>Rating: {{review.rating}}</p>
                <p><a href="/users/{{review.id}}">{{review.reviewer.first_name}}</a> says: <i>"{{review.review}}."</i></p>
                <small>Posted on {{review.created_at}}</small><br>
                <a href="/books/{{book.id}}/deletereview">Delete</a>
                <hr>
                <br>
                {% endfor %}
                
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <h5>Add a new review:</h5><br>
                    <form action="/books/{{book.id}}/addreview" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <h6><label for="exampleInputPassword1">Review:</label></h6>
                    <textarea name="review" class="form-control" id="review" placeholder="write your review here…"></textarea>
                    </div>
                    <div class="form-group">
                        <h6><label for="exampleInputPassword1">Rating:</label></h6>
                        <select name="rating" id="rating" class="custom-select custom-select-sm mb-3">
                            <option></option>
                            <option value="1">1 Star</option>
                            <option value="2">2 Star</option>
                            <option value="3">3 Star</option>
                            <option value="4">4 Star</option>
                            <option value="5">5 Star</option>
                        </select>
                    </div><br>
                        <button type="submit" class="btn btn-info">Submit Review</button>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}