{% extends "bookreview/base.html" %}
{% load static %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-2">Welcome {{user.first_name}}.</h1>
                <hr class="my-4">
                <form action="/books/bookform">
                    <button type="submit" action="/books/bookform" class="btn btn-dark btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">Add a Book</button>
                </form>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h4>Recent Book Reviews</h4>
                <br>
                {% for review in reviews %}
                <h6><a href="/books/{{review.book.id}}">{{review.book.title}}</a></h6>
                <p>{{review.rating}}</p>
                <p><a href="/users/{{user.id}}">{{review.reviewer.first_name}}</a> says: <i>"{{review.review}}."</i></p>
                <small>Posted on {{review.created_at}}.</small>
                <hr>
                <br>
                {% endfor %}
            </div>
            <div class="col-md-1">
                <h3></h3>
                <p></p>
            </div>
            <div class="col-md-4">
                <h5>Other Books Reviewed:</h5>
                <br>
                {% for book in books %}
                <p><a href="/books/{{book.id}}">{{book.title}}</a></p>
                <hr>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}