{% extends "bookreview/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Welcome to Book Review</h1>
                <p class="lead">Where we show book reviews!</p>
                <hr class="my-4">
            </div>
        </div>
    </header>
    <div class="col-sm-6">{% bootstrap_messages %}</div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Register here:</h2>
                    <form action="/register" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputPassword1">First Name:</label>
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Last Name:</label>
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Alias:</label>
                        <input type="text" class="form-control form-control-sm." name="alias" id="alias" aria-describedby="emailHelp" placeholder="Enter alias">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address:</label>
                        <input type="text" class="form-control form-control-sm." name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <!-- <div class="form-group">
                        <label for="exampleInputPassword1">Alias</label>
                        <textarea name="description" class="form-control" id="exampleInputPassword1" placeholder="about yourself…"></textarea>
                    </div> -->
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password:</label>
                            <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password Confirmation</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="confirm" placeholder="password confirmation">
                    </div><br>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
            </div>
            <div class="col-md-2">
                <h3></h3>
                <p></p>
            </div>
            <div class="col-md-4">
                <h2>Log in here:</h2>
                    <form action="/login" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address:</label>
                        <input type="text" class="form-control form-control-sm." name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password:</label>
                            <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="password">
                    </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}