{% extends "bookreview/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
    <header>
        <div class="jumbotron">
            <div class="container">
                
                <h1 class="display-2">{{ user.alias }}'s Page.</h1>
                <hr class="my-4">
                <p><strong>Registered: </strong>{{ user.created_at }}</p>
                <p><strong>User ID: </strong>{{ user.id }}</p>
                <p><strong>First: </strong>{{ user.first_name }}</p>
                <p><strong>Last: </strong>{{ user.last_name }}</p>
                <p><strong>Alias: </strong>{{ user.alias }}</p>
                <p><strong>Email: </strong>{{ user.email }}</p>
                <p><strong>Description: </strong>{{ user.description }}</p>
                <small><a href="/edit">edit</a></small>
    
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                
                <h3>Recent Reviews:</h3>
                <h5><a href="/book/{{ book.id }}">{{ book.title }}</a></h5>
                {% for review in reviews %}
                <h5>{{ review.bookreviewed }} </h5>
                <h6>{{ review.review }} </h6>
                <small>Posted by {{ review.reviewer.alias }}<i> at {{ review.created_at }}.</i></small>
                <hr class="my-6">
                {% endfor %}
                
    
                
            </div>
            <div class="col-md-2">
                <h3></h3>
                <p></p>
            </div>
        </div>
    </div>
{% endblock %}


