{% extends 'blog/base.html' %}

{% block body %}
<div class="container">
    <div class="container">
        <header>
            <div class="jumbotron" style="background-color: white">
                
                <h1 class="display-1">This is {{ user.first_name }}.</h1>
                
                <hr class="my-4">
                <div class="row">
                    <div class="col-4">
                        <h4>PROFILE</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p>
                            First Name: <i>{{ user.first_name }}</i>
                        </p>
                    </div>
                    <div class="col-4">
                        <p>
                            Last Name: <i>{{ user.last_name }}</i>
                        </p>
                    </div>
                    <div class="col-4">
                        <p>
                            Email: <i>{{ user.email }}</i>
                        </p>
                    </div>
                </div>
            </div>
        </header>
        <section>
                {% if messages %}
                <div class="alert alert-danger" role="messages">
                    {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
                {% endif %}
                </div>
            <div class="row">
                <div class="col-7">
                    <h3>Update Info Here:</h3>
                    <form action="/user/{{ user.id }}/update" method="POST">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="formGroupExampleInput">First Name</label>
                            <input type="text" class="form-control" name="first_name" id="formGroupExampleInput" value="{{user.first_name}}">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Last Name</label>
                            <input type="text" class="form-control" name="last_name" id="formGroupExampleInput2" value="{{user.last_name}}">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Email</label>
                            <input type="text" class="form-control" name="email" id="formGroupExampleInput" value="{{user.email}}">
                        </div>
                        <button type="submit" class="btn btn-success" aria-pressed="false" autocomplete="off">Update</button>
                    </form>
                    <br>
                    <form action="/dashboard">
                        <button type="submit" class="btn btn-danger">Cancel</button>
                    </form>
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}