{% extends 'blog/base.html' %}

{% block body %}
<div class="container">
    <div class="container">
        <header>
            <div class="jumbotron" style="background-color: white">
                
                <h1 class="display-1">Hello, {{ user.first_name }}</h1>
                
                <hr class="my-4">
                <div class="row">
                    <div class="col-4">
                        <h4>PROFILE</h4>
                        <a href="/user/{{ user.id }}/edit" class="badge badge-success">Edit</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p>
                            First Name: <i>{{ user.first_name }}</i>
                        </p>
                    </div>
                    <div class="col-4">
                        <p>
                            Last Name: <i>{{ user.last_name }}</i>
                        </p>
                    </div>
                    <div class="col-4">
                        <p>
                            Email: <i>{{ user.email }}</i>
                        </p>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div class="row">
                <div class="col-7">
                  {% for opinion in opinions %}
                    <h5>{{ opinion.opinioner.first_name }} says…</h5>
                    <p><i>"{{ opinion.opinion }}."</i></p>
                    <small>Posted on: <i>{{ opinion.created_at }}</i></small>
                    <br>
                    <hr class="my-2">
                    <br>
                    
                    {% endfor %}
                </div>
                <div class="col-1">col 2</div>
                <div class="col-4">
                    <div class="form-group">
                        <form action="/user/{{ user.id }}/opinion" method="POST">
                            {% csrf_token %}
                            <label for="exampleFormControlTextarea1">Example textarea</label>
                            <textarea class="form-control" name="opinion" id="exampleFormControlTextarea1" rows="4"></textarea>
                            <br>
                            <button type="submit" class="btn btn-outline-dark btn-sm">Small button</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}