{% extends "dashboard/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
    <style>
        .register {
            letter-spacing: -0.0125em;
            margin-top: 150px;
            margin-left: 10%;
            margin-right: auto;
        }
    </style>
    <form action="/process/" class="register" method="POST">
    <!-- Flash Messages -->
    {% if messages %}
    <div id="container">
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
            <p><li>{% if message.tags %}{% endif %}{{ message }}</li></p>
            {% endfor %}
        </div>
    </div>
    {% endif %}    
    <h2>Register here:</h2>
    <p></p>
        <div class="col-md-6 mb-8">
        <div class="form-group">
            {% csrf_token %}
            <label for="exampleInputEmail1">Email address:</label>
            <input type="text" class="form-control form-control-sm." name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">First Name:</label>
            <input type="text" class="form-control" name="first_name" id="exampleInputPassword1" placeholder="first name">
        </div>
        <div class="form-group">
                <label for="exampleInputPassword1">Last Name:</label>
                <input type="text" class="form-control" name="last_name" id="exampleInputPassword1" placeholder="last name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <textarea name="description" class="form-control" id="exampleInputPassword1" placeholder="about yourself…"></textarea>
        </div>
        <div class="form-group">
                <label for="exampleInputPassword1">Password:</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password Confirmation</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="confirmation" placeholder="password confirmation">
        </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}