<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dojo Survey</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/disappearing_ninja.css' )}} ">
        <script type="text/javascript" src="{{ url_for('static', filename='js/disappearing_ninja.js' )}} "></script>
        <!-- <img src="{{ url_for('static', filename='img/test.png') }}"> -->
    </head>
    <body>
      <h1>Disappearing Ninja(no ninjas here)</h1>
      <h3>Good Luck!</h3>
      <a href="/ninja"><h4>Meet the TEENAGE MUTANT NINJA TURTLES!</h4></a>
      <ul>
          <li><a href="/ninja/blue">Leonardo</a></li>
          <li><a href="/ninja/orange">Michelangelo</a></li>
          <li><a href="/ninja/red">Raphael</a></li>
          <li><a href="/ninja/purple">Donatello</a></li>
      </ul>
      
    </body>
</html>