<http>
        <head>
            <title>Time Display</title>
            {% load static %}
            <link rel="stylesheet" href="{% static 'time_display/css/time_display.css' %}" media="screen" title="no title"  charset="utf-8">
        </head>
        <body>
            <header>
                <h1>Time Display</h1>
            </header>
            <nav>
                    <div class="line">{{somekey}}</div>
            </nav>
            <section>
                    

            </section>
        </body>
    </http>
    